query to image.json
{
  "name": "query to image",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        560
      ],
      "id": "3e9dbede-2a86-42ee-97a2-b3eeea53f923",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13a3Jj3kjED6IUEjqt7Ulufa0wCxWPU-wtzGxjkCETr8",
          "mode": "list",
          "cachedResultName": "query to image",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13a3Jj3kjED6IUEjqt7Ulufa0wCxWPU-wtzGxjkCETr8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13a3Jj3kjED6IUEjqt7Ulufa0wCxWPU-wtzGxjkCETr8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -672,
        560
      ],
      "id": "eb30da49-72d9-42bb-87df-0c0400fa1b5f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qt4nYo9k4Ae3lOv1",
          "name": "Ash's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07f4cb1e-0ad8-4a39-bf82-1667f0fc81c8",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        560
      ],
      "id": "f18a0c3a-dc27-4276-b642-d11a0a37a65b",
      "name": "Mapping"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert content strategist, visual prompt engineer, and social media copywriter.\n\nYou will be provided with a query . Your task is to deeply analyze the content and generate:\n\n🎯 Output Requirements\n1. Image Prompt (Primary Task)\n\nCreate a highly detailed, production-level image prompt for generating a single Instagram-sized image (1:1 ratio).\n\nThe prompt must:\n\nBe written in Hinglish (Hindi + English mix) in the tone of a business coach explaining concepts tell the image text also to be in Hinglish.\n\nBe extremely detailed (minimum ~400 lines or richly descriptive equivalent) covering:\n\nScene composition\n\nVisual metaphors from the blog\n\nText overlays (headlines, subpoints)\n\nTypography styles\n\nColor psychology\n\nLighting and mood\n\nCharacter descriptions (if any)\n\nBrand tone and business context\n\nClearly translate blog insights into visual storytelling elements.\nall the character in the image should be photorealistic images\n2. Social Media Captions (Platform-Specific)\n\nGenerate separate captions tailored for each platform:\n\nLinkedIn Caption\n\nProfessional tone\n\nValue-driven, insight-heavy\n\nIncludes CTA (call-to-action)\n\nLength: 150–300 words\n\nFacebook Caption\n\nConversational and engaging\n\nSlight storytelling allowed\n\nIncludes CTA\n\nMedium length\n\nTwitter (X) Caption\n\nConcise and impactful\n\nWithin 280 characters\n\nPunchy and thought-provoking\n\nInstagram Caption\n\nEngaging, relatable Hinglish tone\n\nHook + value + CTA\n\nUse emojis (limited, not spammy)\n\nPinterest Caption\n\nSEO-friendly\n\nDescriptive and keyword-rich\n\nFocus on discoverability\n\n3. Hashtags\n\nProvide separate hashtag sets for each platform\n\nFollow best practices:\n\nLinkedIn: 5–10 hashtags\n\nInstagram: 20–30 hashtags\n\nTwitter: 3–5 hashtags\n\nFacebook: 5–10 hashtags\n\nPinterest: 5–15 hashtags\n\n⚠️ Constraints\n\nOutput must be ONLY in valid JSON format\n\nDo NOT include explanations or extra text outside JSON\n\nMaintain clean structure and proper keys\n\nEnsure no hallucination beyond provided website content\n\nContent must feel human-like, strategic, and production-ready\n\nHinglish must be natural (not forced or broken grammar)\n\nAvoid repetition across captions\ninput\nquery :{{ $json.query}}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -240,
        560
      ],
      "id": "79f179df-4e26-4c77-a408-e028672ef9c0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"Ek modern office setup jahan ek confident business coach whiteboard ke saamne khada hai explaining growth strategy in Hinglish... [continues in very high detail covering scene, lighting, typography, emotional tone, brand aesthetics, composition, storytelling elements etc.]\",\n  \n  \"linkedin_caption\": \"In today’s fast-paced business world, clarity is your biggest competitive advantage...\\n\\nYeh blog ek simple but powerful framework explain karta hai jo aapko growth aur execution dono mein help karega...\\n\\nAgar aap apni strategy ko next level pe le jaana chahte ho, this is for you.\\n\\n💡 What’s your biggest business challenge right now?\\nLet’s discuss in comments.\",\n  \n  \"facebook_caption\": \"Kabhi aisa laga ki aap bahut mehnat kar rahe ho but results utne nahi aa rahe?\\n\\nYeh exactly wahi problem hai jisko yeh blog solve karta hai...\\n\\nAapka next breakthrough shayad sirf ek right strategy door ho.\\n\\n👇 Comment karke batao aap kis stage pe ho business mein!\",\n  \n  \"twitter_caption\": \"Hard work ≠ Growth.\\n\\nRight strategy + clarity = Real results.\\n\\nStop guessing. Start executing smart.\\n\\n#BusinessGrowth #StartupTips\",\n  \n  \"instagram_caption\": \"🚀 Business grow nahi ho raha?\\n\\nShayad problem effort mein nahi, direction mein hai.\\n\\nYeh framework aapko clarity + execution dono dega 💡\\n\\nSave karo & implement karo!\\n\\n👇 Aapka biggest struggle kya hai?\",\n  \n  \"pinterest_caption\": \"Learn a powerful business growth framework explained in simple Hinglish. Perfect for entrepreneurs, founders, and professionals looking to scale with clarity and strategy.\",\n  \n  \"hashtags\": {\n    \"linkedin\": [\"#BusinessStrategy\", \"#Entrepreneurship\", \"#GrowthMindset\", \"#Leadership\", \"#Startups\"],\n    \"facebook\": [\"#BusinessTips\", \"#EntrepreneurLife\", \"#StartupGrowth\", \"#Motivation\", \"#Success\"],\n    \"twitter\": [\"#StartupTips\", \"#BusinessGrowth\", \"#Entrepreneur\"],\n    \"instagram\": [\"#businesscoach\", \"#entrepreneurmindset\", \"#growthstrategy\", \"#startupindia\", \"#hustlehard\", \"#marketingtips\", \"#successmindset\", \"#businessgrowth\", \"#founderlife\", \"#digitalmarketing\"],\n    \"pinterest\": [\"#businessstrategy\", \"#entrepreneurtips\", \"#marketingstrategy\", \"#growthtips\", \"#startupideas\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -64,
        784
      ],
      "id": "d36bd815-c427-4a8d-adbf-c03343f1bcdd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        560
      ],
      "id": "17760e83-80c3-46dd-902f-e6e3a840b440",
      "name": "Wait",
      "webhookId": "fb207174-246c-4f42-a6d4-a95a09c1e964"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": " Bearer 835c03e2ae48ea26e838bbd4dbca32a1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-2\",\n  \"input\": {\n    \"prompt\": \"={{ $json.output.image_prompt.replace(/\\n/g, ' ').replace(/\\\"/g, '\\\\\\\"') }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"1K\",\n    \"output_format\": \"jpg\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        560
      ],
      "id": "7fd8023e-85a2-439e-9b15-8b26c91c96b2",
      "name": "Kie post"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 835c03e2ae48ea26e838bbd4dbca32a1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        560
      ],
      "id": "cb532cd4-cf5d-4748-9ee1-6caeb364deea",
      "name": "kie get"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4adbfbe7-e4e3-42b4-b3d8-0b7900507369",
              "name": "taskId",
              "value": "={{ $json.data.taskId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        560
      ],
      "id": "4aa736e1-ca1b-48a2-9428-5a27f5dcdddf",
      "name": "Set node"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd315eb3-b73b-4aa8-b6ac-0ea9a1e75557",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        560
      ],
      "id": "3e74f4f9-af0f-42de-942b-ebe91ffa8f84",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13a3Jj3kjED6IUEjqt7Ulufa0wCxWPU-wtzGxjkCETr8",
          "mode": "list",
          "cachedResultName": "query to image",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13a3Jj3kjED6IUEjqt7Ulufa0wCxWPU-wtzGxjkCETr8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13a3Jj3kjED6IUEjqt7Ulufa0wCxWPU-wtzGxjkCETr8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "image_link": "={{ $json.data.resultJson.extractUrl() }}",
            "status": "completed",
            "query": "={{ $('Google Sheets').item.json.query }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_link",
              "displayName": "image_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1184,
        368
      ],
      "id": "b0a7a480-adc2-4d16-878e-f7f53b176c7a",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qt4nYo9k4Ae3lOv1",
          "name": "Ash's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "output.image_prompt",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "77d39f03-6f39-4cb9-bfa7-24ef932b1508",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -256,
        800
      ],
      "id": "66f8e2f0-e652-47fd-af41-db15a1f335d5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QDBOQ2QHG7jDoWgl",
          "name": "Paul's"
        }
      }
    },
    {
      "parameters": {
        "content": "## unpin"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        368
      ],
      "typeVersion": 1,
      "id": "5151f57e-1d89-4ab9-ac62-44dba2235660",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapping": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Kie post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kie post": {
      "main": [
        [
          {
            "node": "Set node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "kie get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set node": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kie get": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "497da722-e2ad-44a4-ab65-e4f0571b6455",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "830cfd3e55f405be9f095e5edc311ffd3e63ee88070e74e36a64ee2a1a9bb45f"
  },
  "id": "vSy2gQb2Y6o31c8x",
  "tags": []
}